.game-info-panel {
    align-self: center;
    font-size: 1.5rem;
    padding-right: 1rem;
    display: flex;
}

.game-info-panel .round {
    margin-right: 20px;

}

/* .game-info-panel .score {
    margin-right: 10px;
} */